

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   @font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy-extrabold-webfont.eot');
    src: url('../fonts/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff'),
         url('../fonts/gilroy-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes arrowTranslate {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(10px);
    }
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #C94C05;
}
/* 
@media only screen and (min-width: 768px) {
    .navbar:not(.fixed) {
        background: transparent;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .navbar {
        background: rgba(0, 0, 0, 0.5);
        border-color: transparent;
    }
} */

.navbar-brand {
    height: 85px;
    color: #9d9d9d;
    font-size: 36px;
}
.navbar-brand:hover {
    color: white;
    font-size: 36px;
}
.navbar-fixed-top .navbar-brand {
    font-size: 36px;
    line-height: 55px;
}

/* @media only screen and (min-width: 768px) {
    .navbar:not(.fixed) .navbar-header {
        width: 100%;
        text-align: center;
    }
    
    .navbar:not(.fixed) .navbar-brand {
        width: 100%;
        font-size: 5em;
        margin-top: 20px;
        color: #f2f0f1;
    }
    
    .navbar:not(.fixed) .navbar-brand > img {
        display: initial;
        position: relative;
        top: 40px;
    }
    
    .navbar.fixed .navbar-brand > img {
        height: 60px;
    }
    
    .navbar-nav {
        position: fixed;
        right: 50px;
        top: 20px;
    }
    
    .navbar:not(.fixed) .navbar-right {
        display: none;
    }
} */


/* .navbar-inverse .navbar-nav>li>a {
    color: #f2f0f1;
    font-family: 'gilroyextrabold';
    text-transform: uppercase;
    text-shadow: none;
    letter-spacing: 2px;
    font-size: 18px;
} */
    
.navbar-toggle {
    margin-top: 20px;
}

/* .jumbotron {
	padding: 0;
	position: relative;
} */

/* .jumbotron h1 {
	position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    text-align: center;
	color: white;
} */


#list-recipes {
    padding: 20px 0;
}
#list-recipes .thumbnail {
    border: 0;
    box-shadow: none;
}
#list-recipes .energizing, #list-recipes .cooling {
    position: absolute;
    right: 10%;
    width: 18px;
    top: 10%;
}
#list-recipes .thumbnail .caption {
    border-radius: 6px;
    color: white;
    padding: 9px 15px;
}
#list-recipes .thumbnail .original {
    background-color: #E20613;
}
#list-recipes .thumbnail .mojito {
    background-color: #A0C524;
}
#list-recipes .thumbnail .tropical {
    background-color: #C94C05;
}
#list-recipes .thumbnail .caption h3 {
    border-bottom: white solid 1px;
    padding-bottom: 5px;
	font-size: 36px;
    letter-spacing: 2px;
    margin-top: 5px;
}
#list-recipes .thumbnail .caption p:last-child {
    margin-bottom: 0;
}
#list-recipes .thumbnail .caption p:not(.description) {
    margin-top: 8px;
}

.btn-primary {
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
}
.btn-primary:hover {
    background: rgba(0,0,0,0.3);
}
.btn-default {
    background: transparent;
    text-transform: uppercase;
    color: white;
    text-shadow: none;
    border: 0;
    font-size: 12px;
    box-shadow: none;
    padding: 10px 0 4px 0;
}
.btn-default:hover, .btn-default.disabled:hover {
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    border-radius: 0;
}

#your-choice {
	background-color: #d2d0c3;
	color: #404341;
	padding: 50px 0;
	text-align: center;
}
.thumbnail {
    border: 0;
    box-shadow: none;
}

.thumbnail .caption {
    border-radius: 6px;
    color: white;
    background-color: cadetblue;
    padding: 9px 15px;
}
footer {
	background-color: #f3bdbd;
	color: rgb(122, 118, 118);
	padding: 50px 0;
	text-align: center;
}









