
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   @font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy-extrabold-webfont.eot');
    src: url('../fonts/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff'),
         url('../fonts/gilroy-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #C94C05;
}

.navbar-brand {
    height: 85px;
    color: #9d9d9d;
    font-size: 36px;
}
.navbar-brand:hover {
    color: white;
    font-size: 36px;
}
.navbar-fixed-top .navbar-brand {
    font-size: 36px;
    line-height: 55px;
}

 
.navbar-toggle {
    margin-top: 20px;
}

#lists {
    border: solid, 1, rgb(7, 7, 7);
}

#lists {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#lists td, #lists th {
    border: 1px solid #ddd;
    padding: 8px;
}

#lists tr:nth-child(even){background-color: #f2f2f2;}

#lists tr:hover {background-color: #ddd;}

#lists th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.fait {
    background-color: red;
}

.ok {
    background-color: green;
}
footer {
	background-color: #f3bdbd;
	color: rgb(122, 118, 118);
	padding: 50px 0;
	text-align: center;
}









